<div class="mypage_main">
  <!-- <div class="score_box">
    <span class="score_text">85</span>
  </div> -->
  <h2 class="chart-title">チャート</h2>
  <div class="canvas-container">
    <canvas id="myChart" width="500" height="400"></canvas>
    <script>draw_graph();</script>
  </div>
  <div class="canvas-container">
    <canvas id="myChart2" width="500" height="400"></canvas>
    <script>draw_graph();</script>
  </div>
  <div class="rank-table">
    <h2>今月のスコアとランキング</h2>
    <p class="rank-text">スコア: 85</p>
    <p class="rank-text">ランキング: 16位</p>
    <h2 class="best-rank-title">今月のランキング上位者</h2>
    <table class="ui celled table">
    <thead>
      <tr><th>順位</th>
      <th>ユーザー名</th>
      <th>スコア</th>
    </tr></thead>
    <tbody>
      <tr>
        <td data-label="Name">1</td>
        <td data-label="Age">James</td>
        <td data-label="Job">99</td>
      </tr>
      <tr>
        <td data-label="Name">2</td>
        <td data-label="Age">Jill</td>
        <td data-label="Job">94</td>
      </tr>
      <tr>
        <td data-label="Name">3</td>
        <td data-label="Age">Elyse</td>
        <td data-label="Job">93</td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
