<div class="mypage_main">
  <!-- <div class="score_box">
    <span class="score_text">85</span>
  </div> -->
  <h2 class="chart-title">チャート</h2>
  <div class="canvas-container">
    <canvas id="myChart" width="500" height="400"></canvas>
    <script>draw_graph();</script>
  </div>
  <div class="canvas-container">
    <canvas id="myChart2" width="500" height="400"></canvas>
    <script>draw_graph();</script>
  </div>
</div>
