/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "semantic-ui";
.alert {
  position: absolute;
}
body {
  background-color: #fafafa;
  margin: 0;
  padding: 0;
}
nav {
  text-align: right;
  float: right;
}
/* .container {
  margin: 20px 40px;
} */
.form-container {
  width: 500px;
  margin: 0 auto;
}
.login-title {
  padding-top: 30px;
  text-align: center;
}
.field {
  width: 300px;
  margin: 0 auto;
}
input[type="password"] {
  width: 300px;
  height: 46px;
  padding: 12;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #e6ecf0;
  margin-bottom: 20px;
  background-color: #fafafa;
}
input[type="email"] {
  width: 300px;
  height: 46px;
  padding: 12;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #e6ecf0;
  margin-bottom: 20px;
  background-color: #fafafa;
}
.actions {
  padding-left: 100px;
  padding-top: 20px;
}
.submit_btn {
  width: 100px;
  padding: 15px 10px;
  border-style: none;
  color: #fff;
  background-color: #4ab3f4;
  border-radius: 100px;
}
.input_form {
  width: 300px;
  height: 46px;
  padding: 12;
  font-size: 14px;
}
.form-inputs {
  min-height: 300px;
  background: #fff;
  border: 1px solid #e6ecf0;
  border-radius: 3px;
  padding-top: 50px;
  padding-bottom: 20px;
}
.form-inputs-fees {
  min-height: 300px;
  background: #fff;
  border: 1px solid #e6ecf0;
  border-radius: 3px;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
}
.icon {
  float: left;
}
.mypage_header {
  height: 70px;
  line-height: 70px;
  padding-left: 50px;
  background-color: #fff;
  border-bottom: 2px solid #39b54a;
}
#mypage_title {
  display: inline-block;
  vertical-align: middle;
  margin: 20px;
  font-size: 50px;
}
.links {
  float: right;
  padding-right: 30px;
}
.mypage_link {
  display: inline-block;
  margin-left: 20px;
}
.mypage_main {
  padding-top: 20px;
  background-color: #fff;
}
.score_box {
  height: 300px;
  width: 300px;
  border: 30px solid green;
  border-radius: 50%;
  display: inline-block;
  line-height: 300px;
  text-align: center;
  vertical-align: middle;
  float: left;
}
.score_text {
  font-size: 120px;
  height: 300px;
}
.canvas-container {
  margin-left: 200px;
  width: 600px;
  height: 400px;
  display: inline-block;
}
