/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "semantic-ui";

body {
  background-color: #fafafa;
}
nav {
  text-align: right;
  float: right;
}
.container {
  margin: 20px 40px;
}
.form-container {
  width: 500px;
  margin: 0 auto;
}
.login-title {
  text-align: center;
}
.field {
  width: 300px;
  margin: 0 auto;
}
input[type="password"] {
  width: 300px;
  height: 46px;
  padding: 12;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #e6ecf0;
  margin-bottom: 20px;
  background-color: #fafafa;
}
input[type="email"] {
  width: 300px;
  height: 46px;
  padding: 12;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #e6ecf0;
  margin-bottom: 20px;
  background-color: #fafafa;
}
.actions {
  padding-left: 100px;
  padding-top: 20px;
}
.submit_btn {
  width: 100px;
  padding: 15px 10px;
  border-style: none;
  color: #fff;
  background-color: #4ab3f4;
  border-radius: 100px;
}
.input_form {
  width: 300px;
  height: 46px;
  padding: 12;
  font-size: 14px;
}
.form-inputs {
  min-height: 300px;
  background: #fff;
  border: 1px solid #e6ecf0;
  border-radius: 3px;
  padding-top: 50px;
  padding-bottom: 20px;
}
.form-inputs-fees {
  min-height: 300px;
  background: #fff;
  border: 1px solid #e6ecf0;
  border-radius: 3px;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
}
.icon {
  float: left;
}
